/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
**/
body{ background: #fff;}
#mdt-settings-area {
    margin: auto;
    padding: 0;
    width: 100%;
    background: #fff;
    display: block;
}
 #wpcontent {
    padding: 0;
    background-color: #fff;
}

.tooltip {
    position: relative;
    display: inline-block;
    border: 0 none;
	margin-left:3px;
	
}
.error-input{border: 1px solid #DF2A4A !important; background-color: #FFDCD1 !important;}
.demo-mode{float:right;}
.demo-detail{padding:2em 0.45em !important;text-align: center;
    font-size: 1.2em !important;}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 260px;
    background-color: #efefef;
    color: #000;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -140px;
	font-size:12px;
    font-weight: normal;

}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #efefef transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.mdt-settings-area {
    margin: auto;
    padding: 0;
    width: 100%;
    background: #fff;
}

.mdt-header {
    position: fixed;
    z-index: 1051;
    width: 100%;
    background-color: #0b4775;
    height: 70px;
    color: #fff;
    box-sizing: border-box;
    left: 0;
    right: 0;
    top: 32px;
    padding-left: 160px;

}

.mdt-container {
    max-width: 1240px;
    padding: 0 15px;
    margin: auto;
}

.mdt-header-content {
    padding: 0;
    display: flex;
    height: 70px;
    align-items: center;
}
a.help_guid_link{margin: 5px 0 0 5px;text-decoration:none;}
.mdt-sub-header {
    width: 100%;
    margin: 70px 0 0 0;
    position: relative;
    background-color: #fff;
    box-shadow: 0px 0px 20px 0px rgb(76 87 125 / 15%);
}

.mdt-sub-header-content {
    display: flow-root;
    align-items: center;
    min-height: 60px;
}

.mdt-sub-header-content h1 {
    font-size: 1.4em;
    margin-top: 10px;
    margin-bottom:5px;

}

.label-text {
    margin-bottom: 10px;
    padding: 0;
    justify-content: space-between;
    display: flex;
    font-weight: 500;
}

.label-text a {
    text-decoration: none;
}

.btn-sec {
    margin:0;
    padding: 0;
    justify-content: space-between;
    display: flex;
    align-items: center;
    justify-content: end;
}

.btn-sec a {
    text-decoration: none;
    font-weight: 500;
    display: flex;
    align-items: center;

}

.btn-sec a img {
    margin: 0 0 0 3px;
}

#cookie input {
    width: 100%;
    padding: 5px 10px;
    border: 1px solid #ddd;
}



#mdt-settings-box {
    background-color: none;
    border: 1px solid #f0f0f0;
    padding: 0;
    margin: 40px auto;
    max-width: 600px;
    border-radius: 6px;
}

.mdt-settings-box-header {
    border-bottom: 1px solid #f0f0f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
}
.active-banner{align-items: center;}
.active-banner label {
    font-weight: 500;
    margin-left:5px;
	
}

.mdt-settings-box-body {
    padding:30px;
}

.mdt-settings-box-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #f9f9f9;
}

.mdt-settings-box-footer a {
    font-weight: 500;
    text-decoration: none;
	display: contents;
}
.mcc_hide{display:none;}
.mdt-settings-button,
.mdt-settings-button:focus {
    margin-left: auto;
    background-color: #337ab7;
    border-bottom-width: 0px;
    color: #fff;
    border-radius: 3px;
    font-weight: 500;
    transition: all 0.1s ease-in-out;
    transition-duration: 0.2s;
    padding: 10px 30px;
    font-size: 14px;
    margin: 0 0 0 4px;
    text-decoration: none;
    display: inline-block;
    border: 1px solid #337ab7;
    cursor: pointer;
}

.mdt-reset-btn, .mdt-reset-btn:focus {
    background-color: #fff !important;
    border-color: #ddd !important;
    color: #333 !important;
}

.mdt-reset-btn:hover {
    background-color: #ebebeb !important;
    color: #333 !important;
    border-color: #ddd !important;
}

.mdt-settings-button:hover {
    color: #fff;
    background-color: #265a87;
    border-color: #265a87;
}

#mdt-alert-message {
    position: relative;
    border-radius: 3px;
    padding: 12px 20px;
    font-size: 14px;
    color: #141B38;
    line-height: 1.4;
    border: 1px solid #DF2A4A;
    background-color: #FBE9EC;
}



#mdt-settings-area p {
    line-height: 1.5;
    margin: 0 0 10px;
    font-size: 14px;
    color: #434343;
    padding: 0;
}

.success-msg {
    background: #fff;
    border: 1px solid #c3c4c7;
    border-left-width: 4px;
    border-left-color: #00a32a;
    padding: 0 15px;
    position: relative;
    margin: 0 !important;
    display: flex;
}
.error-msg {
    background: #fff;
    border: 1px solid #c3c4c7;
    border-left-width: 4px;
    border-left-color: #DF2A4A;
    padding: 0 15px;
    position: relative;
    margin: 0 !important;
    display: flex;
}
.mcc_error_msg {
    color: #DF2A4A;
    
}
.success-msg p, .error-msg p {
    margin: 6px 0 !important;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;

}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #337ab7;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}
.banner_desc_content{font-size: 14px;padding: 10px 15px; border-bottom: 1px solid #f0f0f0;}
.banner_desc_content p{font-size:14px; margin:0;display: flex;align-items: center;}
.banner_desc_content img{margin:0 6px 0px 0;}
/* Rounded sliders */
.slider.round {
    border-radius: 24px;
}

.slider.round:before {
    border-radius: 50%;
}

.notice-dismiss {
    position: absolute;
    top: 0;
    right: 1px;
    border: none;
    margin: 0;
    padding: 9px;
    background: 0 0;
    color: #787c82;
    cursor: pointer;
}
@keyframes loadmdtSettingsNoJSView {
    to {
        visibility: visible;
    }
}